{% include 'Includes/header.html' %}


<title>Index </title>

<div class="container">


	<h1 class="titre"> Index : Creation de table d'informations </h1>

	<img src="https://lh3.googleusercontent.com/4dAG-nShIc1vKzEQtTbhQPHZUdI_sou5Q_LS1ZZPg9tR0MtL62k-azEjF6TV3nDbW1Le1iZ0b23w9RKcBb5ssQzl8HEpuw3tqF3g3ipPOnL3xf1uFw4UMrIHCTnDx6YhHaYCe76b"> 

	<h2> Module à incorporer </h2>
	<li>Mise en place de session </li>
	<p>		Creation/Suppression de campagne pour l'administrateur</p>
	<p>		Mise en place de la participation des répondants</p>

	<img src="https://lh4.googleusercontent.com/QE4mzIPwqVSql9xgsODkgOyfdNJjVxpoNDjou6-0tm_i-zaJKwieFXK4fucIvgYqEL1_HtkQqrR7euDRy9CgjXriZPRyiLttD551uVrU9mscSylW2l8mLky-WpoTJxHiifmOMf9N">

	<h2> Application REST </h2>
	<img src="https://docs.google.com/drawings/d/sDq8aUJ6FsK_AzH36GO4YvQ/image?w=774&h=408&rev=1820&ac=1">


</div>
</body>

</html>
