{% include 'Includes/header.html' %}

<title>Sessions disponibles</title>

<div class="container">	

<h1 class="titre" style = "padding-bottom: 2%;"> Sessions disponibles </h1>


	<div id="accordion">

			{% for campagne in rowsCampagne %}

				<h3>{{campagne["nom"]}}</h3>

				<div>
							<p> <a href={{ url_for('form1',campagneid = campagne["id"])}} > Lien vers la table d'information </a> ( Copier l'adresse du lien )</p>

				</div>
			{% endfor %}	
      
			
	</div>
</div>
  </body>


<!-- SCRIPT ET RESSOURCES -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script> $( function() { $( "#accordion" ).accordion(); } ); </script>

</html>
