{% include 'Includes/header.html' %}

<title>Banque de données</title>

<div class="container">

<h1 class="titre"> Banque de données </h1>
	
	<h3 class="titre">Choix final : {{ rows["FinalChoice"] }}</h3>

			<table class="table table-striped">
				<thead class="thead-dark">
      				<tr>
      					<th>#										</th>
        				<th class="col" > Compteur 					</th>
        				<th class="col" > Coordonés des cliques		</th>
        				<th class="col" > Valeur de la case			</th>
      				</tr>	

				<tbody>

					{% for row in rows["Chemin"] %}
					<tr>

						<td>{{ row["Nb"]       }} 	</td>
						<td>{{ row["Compteur"] }} ms</td>
						<td>{{ row["Coords"]   }} 	</td>
						<td><img src= "{{url_for('static',filename=row["Value"])}}"  width = 100 height= 75  alt = " {{ row["Value"]  }} "></td>

					</tr>
					{% endfor %}
				</tbody>
			</table>



			<a href={{ url_for('download',sessionid = sessionid )}} >
			<button type="button" class="btn btn-success" style = "float: right;width: 200px; height: 50px; margin-top: 50px;" > Télécharger le chemin </button>
			</a>
</div>
  </body>


</html>
