{% include 'Includes/header.html' %}

<title>Banque de données</title>

<div class="container">

	<h1 class="titre"> Banque de données </h1>
	
	<h3 class="titre">Session de {{ sessionName }} Choix final : {{ rows["FinalChoice"] }}</h3>

	<table class="table table-striped">
		<thead class="thead-dark">
			<tr>
				<th>#										</th>
				<th class="col" > Temps passé				</th>
				<th class="col" > Coordonées				</th>
				<th class="col" > Association en Ligne		</th>
				<th class="col" > Association en colonne	</th>
			</tr>	

			<tbody>

				{% for row in rows["Chemin"] %}
				<tr>

					<td>{{ row["Nb"]       }} 	</td>
					<td>{{ row["Compteur"] }} ms</td>
					<td>{{ row["Coords"]   }} 	</td>
					<td>{{ row["AssLig"]   }}   </td>
					<td>{{ row["AssCol"]   }}   </td>

				</tr>
				{% endfor %}
			</tbody>
		</table>

		<h4 class="titre"> Indicateurs : </h4>

		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Temps passé en moyenne par case			</th>
					<th>Temps passé total						</th>
				</tr>	

				<tbody>

					<tr>

						<td>{{ indics["Moyenne"]  }} ms	</td>
						<td>{{ indics["Somme"]    }} ms	</td>

					</tr>
				</tbody>
			</table>



			<a href={{ url_for('download',campagneid = campagneid,cheminid = cheminid)}} >
				<button type="button" class="btn btn-success" style = "float: right;width: 200px; height: 50px; margin-top: 50px;display:inline-block;" > Télécharger le chemin </button>
			</a>
		</div>
	</body>


	</html>
