{% include 'Includes/header.html' %}
{% from "_formhelpers.html" import render_field %}

<title>Creation de campagne</title>
<div class="container">
	<h1 class="titre">Creation d'une nouvelle campagne</h1>

	<form method=post enctype=multipart/form-data>

		

		<dl>
			{{ render_field(form.nom) }}
		</dl>
		<p> Nom de la session. Eviter les doublons.</p>
		
		<p>	Temps en secondes. Pour avoir une session avec un temps infini, ecrire 0.</p>
		<dl>
			{{ render_field(form.countdown) }}
		</dl>

		
		<p> Importation du fichier Excel de référence ( Au format Exel xml : .xlsx ) </p>
		


		<p> Partie 1 du formulaire online </p>

		<dl>
			{{ render_field(form.form1) }}
		</dl>


		<p> Partie 2 du formulaire online </p>

		<dl>
			{{ render_field(form.form2) }}
		</dl>


		<p><input type=file name=file >

			<p>

				<input class = "submit" type=submit value=Créer>

				<div class="alert alert-success fade in" style="display: none;">
					<a href="#" class="close" data-dismiss="alert">&times;</a>
					<strong>Success!</strong> La campagne a bien été prise en compte
				</div>



			</form>
		</div>
	</body>

	<script type="text/javascript">
		
		$(".submit").click(function(){

				window.location = "/";




		});

	</script>

	</html>
