<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
{% include 'Includes/header.html' %}



<title>Session : {{ name }} </title>

<div class="loading"
     style="position:fixed;
            padding:0;
            margin:0;

            top:0;
            left:0;

            width: 100%;
            height: 100%;
            background-color: black; 
            filter:opacity(0.5);
            display: none;">

<img src="{{ url_for('static', filename = 'img/icons/load.gif' ) }}"
     style = "position:absolute;
              left: 50%;
              top: 50%;
              width: 128px;
              height: 128px;
              margin-left: -64px; /* Cette valeur doit être la moitié négative de la valeur du width */
              margin-top: -64px; /* Cette valeur doit être la moitié négative de la valeur du height */
              ">

</div>

<div class="timer well well-lg" style="float : left ; margin-left: 15px; margin-top:4%; margin-left: 5%;"><p style="text-align: center"> {{ countdown }}</p></div>
<div class="container">

  <h1 class="titre"> Session : {{ name }} </h1>
  <table class="table">

    {# Affichage des criteres #}
    <thead class="thead-dark">
      <tr>
        <th></th>
        {% for row in rows["colonne"] %} 
        <th> {{row}}</th>
        {% endfor %}
      </tr>
    </thead>
    

    {# Pour chaque critere, il y a une liste (Liste de prix etc...) #}
    {# On cherche à les afficher en collonnes de cette maniere      #}

    {#           | Prix | Qualitée |  Economie  #}
    {#  Produit 2| 200  |  Lorem   |   Ipsum    #}  
    {#  Produit 1| 400  |  Dolor   |   Sitamet  #}


    {# Le dictionnaire du script tableIB.py est de la forme suivante  :                                                                           #}
    {# Dictionnaire {  Collonne : [ critere 1, critere 2 ] Ligne : [ Produit 1, Produit 2 ] Produit 1, [ case, case] Produit 2 : [case, case]}    #}
    {# On boucle de la façon suivante : Creation de la case avec une valeur de Ligne ( Exemple : Produit 1 )                                      #}
    {# Creation de cases via la liste du dictionnaire portant le nom de la ligne ( Exemple : Décompilation de Produit 1 [ case, case ])           #}
    {# Cette façon de faire a pour aventage de creer un tableau aléatoire à chaque création de session                                            #}



    {#               CREATION DU CORP DU TABLEAU                #}
    <tbody>
    {%              for row in rows["ligne"]                    %}

      <tr>

        <td class = "alternative" > {{ row }}  </button> </td>

        {%                 for case in rows[row]          %}
        <td>
        <div class = "info" onclick="zoomIn(this)"> <img src= "{{ url_for('static',filename = case ) }}"  width = 150 height= 100  
          
          onerror="
          this.parentElement.innerText = '{{ case }}';
          this.style.display='none';

          ">   </div>
        </td>
        {%                        endfor                  %}

      </tr>
    {%                            endfor                        %}
    </tbody>       
    
  </table>

    {#                            FIN TABLEAU                   #}
    
</div>  


</body>
<!-- Script comportemental de la page -->
<script src="/static/js/zoom.js"></script>
</html>
